<!DOCTYPE html>
<html lang="de" class="no-js">
<head>
  <title>Testapp</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <!--[if lte IE 7]><%= stylesheet_link_tag "ie", :media => "all" %><![endif]-->
  <%= sprockets_include_tag %>
  <%= javascript_tag "$.ajaxSetup({ async: false });" if Rails.env.test? %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= body_class %>">
  <%= render :partial => "shared/flashes" %>
  <%= yield %>
</body>
</html>
<!-- Created with care by DIE ANTWORT · Büro für Informationstechnik GmbH -->