<!DOCTYPE html>
<html lang="de" class="no-js">
<head>
  <title>Testapp</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_tag "$.ajaxSetup({ async: false }); $.fx.off = true;" if Rails.env.test? %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= render :partial => "shared/flashes" %>
  <%= yield %>
</body>
</html>
<!-- Created with care by DIE ANTWORT · Büro für Informationstechnik GmbH -->